<StackLayout class="login-container" backgroundColor="white">
  <Label text="Sign In" class="title" textAlignment="center"></Label>
  <Label text="Hi! Welcome back, you've been missed" class="subtitle" textAlignment="center"></Label>

  <TextField hint="example@gmail.com" keyboardType="email" class="input"></TextField>
  
  <StackLayout orientation="horizontal" class="password-container">
    <TextField hint="Password" secure="true" class="input" #passwordField></TextField>
    <Label text="&#xf06e;" class="fas eye-icon" (tap)="togglePasswordVisibility()"></Label>
  </StackLayout>
  
  <Label text="Forgot Password?" class="forgot-password" (tap)="onForgotPassword()"></Label>
  
  <Button text="Sign In" class="btn-primary" (tap)="onSignIn()"></Button>
  
  <Label text="Or sign in with" class="or-divider"></Label>
  
  <StackLayout orientation="horizontal" class="social-login">
    <!--
    <Image src="~/assets/apple.png" (tap)="onAppleSignIn()"></Image>
    <Image src="~/assets/google.png" (tap)="onGoogleSignIn()"></Image>
    <Image src="~/assets/facebook.png" (tap)="onFacebookSignIn()"></Image>
    -->
  </StackLayout>

  <Label text="Don't have an account? " class="signup-text"></Label>
  <Label text="Sign Up" class="signup-link" (tap)="onSignUp()"></Label>
</StackLayout>