<GridLayout rows="auto, auto, auto, *" backgroundColor="white" padding="16">
    <!-- Search Bar -->
    <FlexboxLayout row="0" flexDirection="row" alignItems="center" backgroundColor="#f3f3f3" padding="8" borderRadius="12">
      <Image src="~/images/back.png" width="24" height="24" margin="8"></Image>
      <TextField hint="Search.." flexGrow="1" fontSize="16"></TextField>
      <Image src="~/images/close.png" width="24" height="24" margin="8"></Image>
    </FlexboxLayout>
  
    <!-- Recent Search -->
    <StackLayout row="1" marginTop="16">
      <Label text="Recent Search" fontSize="18" fontWeight="bold" marginBottom="8"></Label>
      <FlexboxLayout *ngFor="let item of recentSearches" flexDirection="row" justifyContent="space-between" marginBottom="4">
        <Label [text]="item" fontSize="16"></Label>
        <Image src="~/images/close.png" width="16" height="16"></Image>
      </FlexboxLayout>
    </StackLayout>
  
    <!-- Recent View -->
    <StackLayout row="2" marginTop="16">
      <Label text="Recent View" fontSize="18" fontWeight="bold" marginBottom="8"></Label>
    </StackLayout>
  
    <!-- List of Recent Views -->
    <ListView [items]="recentViews" row="3">
      <ng-template let-item="item">
        <FlexboxLayout flexDirection="row" alignItems="center" padding="8" borderBottomWidth="1" borderBottomColor="#e0e0e0">
          <Image [src]="item.image" width="50" height="50" borderRadius="8" marginRight="12"></Image>
          <StackLayout flexGrow="1">
            <Label [text]="item.name" fontSize="16" fontWeight="bold"></Label>
            <Label [text]="item.category" fontSize="14" color="gray"></Label>
            <Label [text]="'$' + item.price" fontSize="16" fontWeight="bold" color="black"></Label>
          </StackLayout>
        </FlexboxLayout>
      </ng-template>
    </ListView>
  </GridLayout>
  