<ScrollView>
  <!-- Use FlexboxLayout  <FlexboxLayout flexDirection="column" backgroundColor="white"> -->
  <StackLayout backgroundColor="white">
    <!-- Header -->
    <FlexboxLayout
      height="175"
      backgroundColor="#8B4513"
      flexDirection="column"
      padding="20"
      style="border-bottom-left-radius: 30; border-bottom-right-radius: 30"
    >
      <!--
      <FlexboxLayout flexGrow="2" flexDirection="row" backgroundColor="#8B4513">
      </FlexboxLayout>
      <FlexboxLayout flexGrow="2" flexDirection="row" backgroundColor="#8B4513">
      </FlexboxLayout>
      -->

      <app-home-header></app-home-header>
    </FlexboxLayout>
    <!-- /Header -->

    <FlexboxLayout flexDirection="column" paddingRight="20" paddingLeft="20">
      <!-- Special Offers   -->
      <app-banner></app-banner>
      <!-- /Special Offers  -->

      <!-- Categories   -->
      <!-- Categories Text  -->

      <FlexboxLayout
        height="auto"
        paddingTop="10"
        flexDirection="row"
        justifyContent="space-between"
        alignItems="center"
      >
        <!-- Left: "Categories" Title -->
        <Label
          text="Categories"
          fontSize="20"
          color="#000000"
          fontWeight="bold"
        ></Label>

        <!-- Right: "See All" Link -->
        <Label
          text="See All"
          fontSize="12"
          color="#8B4513"
          fontWeight="normal"
          (tap)="naviagteToCategories()"
        >
        </Label>
      </FlexboxLayout>

      <!-- /Categories text  -->

      <app-categories-list categoriesQT="4"></app-categories-list>

      <!-- /Categories  -->

      <!-- Featured Products   -->
      <!-- /Featured Products Text  -->

      <FlexboxLayout
        height="auto"
        paddingTop="10"
        flexDirection="row"
        justifyContent="space-between"
        alignItems="center"
      >
        <!-- Left: "Featured Products" Title -->
        <Label
          text="Featured Products"
          fontSize="20"
          color="#000000"
          fontWeight="bold"
        ></Label>

        <!-- Right: "See All" Link -->
        <Label text="See All" fontSize="12" color="#8B4513" fontWeight="normal">
        </Label>
      </FlexboxLayout>

      <!-- /Featured Products text  -->

      <!-- /Featured Products  -->




      <ScrollView orientation="horizontal">
        <StackLayout orientation="horizontal" class="product-list">
   

          <app-featured-product-card *ngFor="let item of featuredProducts" [product]="item"></app-featured-product-card>
        </StackLayout>
      </ScrollView>







      <GridLayout rows="auto, auto" marginTop="20">
        <!-- Scrollable Carousel -->
      
         <!--
        <ScrollView
        #carouselScrollView
        orientation="horizontal"
        scrollBarIndicatorVisible="false"
        (scroll)="onScroll($event)"
        (swipe)="onSwipe($event)"
      >
    
      
        <ScrollView
          #carouselScrollView
          orientation="horizontal"
          scrollBarIndicatorVisible="false"
          
        >
          <FlexboxLayout flexDirection="row">
            <FlexboxLayout
              *ngFor="let item of items; let i = index"
              height="100%"
              width="{{ screenWidth }}" 
              flexDirection="column"
              justifyContent="center"
              alignItems="center"
            >
              <GridLayout rows="*" columns="*" backgroundColor="white" borderRadius="15">
                <Image [src]="item.imgURL" stretch="aspectFill" borderRadius="15"></Image>
              </GridLayout>
            </FlexboxLayout>
          </FlexboxLayout>
        </ScrollView>
        -->
  
      </GridLayout>




    </FlexboxLayout>




  </StackLayout>
</ScrollView>
