<ScrollView backgroundColor="white">
  <StackLayout>
    <GridLayout rows="*, *" columns="*">
      <FlexboxLayout row="0" col="0" flexDirection="column" height="50%">
        <Image
          row="0"
          col="0"
          #imageRef
          [src]="coverImage"
          [stretch]="imageAspect"
          width="100%"
        />
      </FlexboxLayout>

      <FlexboxLayout
        row="0"
        col="0"
        flexDirection="column"
        justifyContent="flex-end"
        alignItems="center"
      >
        <FlexboxLayout
          flexDirection="row"
          [height]="thumbnailHeight"
          [width]="thumbnailWidth"
          [paddingBottom]="thumbnailBottomPadding"
        >
          <FlexboxLayout
            backgroundColor="white"
            borderWidth="1"
            borderColor="#8B4513"
            borderRadius="10"
          >
            <FlexboxLayout
              flexDirection="column"
              *ngFor="let img of thumbnails; let i = index"
              padding="5"
            >
              <Image
                borderRadius="10"
                [src]="img"
                stretch="fill"
                height="100%"
                width="100%"
                (tap)="enlargeThumbnailimage(i)"
              ></Image>
            </FlexboxLayout>
          </FlexboxLayout>
        </FlexboxLayout>
      </FlexboxLayout>

      <FlexboxLayout
        row="1"
        col="0"
        flexDirection="column"
        justifyContent="center"
        alignItems="center"
      >
        <Label text="kanishka"></Label>
      </FlexboxLayout>
    </GridLayout>
  </StackLayout>
</ScrollView>
