<ActionBar>
    <NavigationButton text="&#x2190;" android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
    <StackLayout orientation="horizontal" class="action-icons">
      <Image src="https://img.icons8.com/?size=100&id=85339&format=png&color=FF0000" class="icon"></Image>
      <Image src="https://img.icons8.com/?size=100&id=TDCU7KRViM2Q&format=png&color=000000" class="icon"></Image>
    </StackLayout>
  </ActionBar>

  <ScrollView backgroundColor="white">
    <StackLayout class="container" >
      <!-- Product Image and Thumbnails -->
      <Image src="https://www.eventshoppe.co.in:9021/file-system/image/687" class="product-image"></Image>
      <ScrollView orientation="horizontal" class="thumbnail-container">
        <StackLayout orientation="horizontal">
          <Image *ngFor="let img of thumbnails" [src]="img" class="thumbnail"></Image>
        </StackLayout>
      </ScrollView>
      
      <!-- Product Details -->
      <Label text="Chocolate Cake" class="product-title"></Label>
      <StackLayout orientation="horizontal" class="rating-section">
        <Label text="4.9" class="rating"></Label>
        <Image src="https://img.icons8.com/?size=100&id=8ggStxqyboK5&format=png&color=000000" class="star-icon"></Image>
      </StackLayout>
      
      <!-- Seller Info -->
      <GridLayout columns="auto, *" class="seller-info">
        <Image src="https://img.icons8.com/?size=100&id=CSToOclMmlIh&format=png&color=000000" class="seller-image" col="0"></Image>
        <StackLayout col="1">
          <Label text="Jenny Wilson" class="seller-name"></Label>
          <Label text="Cook" class="seller-role"></Label>
        </StackLayout>
        <Image src="https://img.icons8.com/?size=100&id=jOjH1Mt48Fp1&format=png&color=000000" class="contact-icon" col="2"></Image>
        <Image src="https://img.icons8.com/?size=100&id=85059&format=png&color=000000" class="contact-icon" col="3"></Image>
      </GridLayout>
      
      <!-- Description -->
      <Label text="Lorem ipsum dolor sit amet, consectetur adipiscing elit..." class="description"></Label>
      <Label text="Read more" class="read-more" (tap)="expandDescription()"></Label>
      
      <!-- Weight Selection -->
      <Label text="Select Weight" class="weight-label"></Label>
      <StackLayout orientation="horizontal" class="weight-options">
        <Button *ngFor="let w of weights" [text]="w" class="weight-btn" [class.active]="selectedWeight === w" (tap)="selectWeight(w)"></Button>
      </StackLayout>
      
      <!-- Price & Cart Button -->
      <Label [text]="'Total Price: $' + price" class="price"></Label>
      <Button text="Add to Cart" class="add-cart" (tap)="addToCart()"></Button>
    </StackLayout>
  </ScrollView>