<TabView
  androidTabsPosition="bottom"
  tabBackgroundColor="white"
  (selectedIndexChange)="onTabChange($event)"
  #tabViewRef
>
  <GridLayout
    *tabItem="{
      title: 'Home',
      iconSource: selectedIndex === 0 ? 'res://home_brown' : 'res://home_gray'
    }"
  >
    <page-router-outlet name="homeTab"></page-router-outlet>
  </GridLayout>

  <GridLayout
    *tabItem="{
      title: 'Explore',
      iconSource:
        selectedIndex === 1 ? 'res://explore_brown' : 'res://explore_gray'
    }"
  >
    <page-router-outlet name="exploreTab"></page-router-outlet>
  </GridLayout>

  <GridLayout
    *tabItem="{
      title: 'Wishlist',
      iconSource:
        selectedIndex === 2 ? 'res://wishlist_brown' : 'res://wishlist_gray'
    }"
  >
    <page-router-outlet name="wishlistTab"></page-router-outlet>
  </GridLayout>
</TabView>

<GridLayout
  *tabItem="{
    title: 'Chat',
    iconSource: selectedIndex === 3 ? 'res://chat_brown' : 'res://chat_gray'
  }"
>
  <page-router-outlet name="chatTab"></page-router-outlet>
</GridLayout>

<GridLayout
  *tabItem="{
    title: 'Profile',
    iconSource: selectedIndex === 4 ? 'res://user_brown' : 'res://user_gray'
  }"
>
  <page-router-outlet name="profileTab"></page-router-outlet>
</GridLayout>
