<GridLayout
  rows="auto, auto, auto"
  columns="*"
  androidElevation="2"
  margin="5"
  borderRadius="12"
  marginRight="12"
  backgroundColor="white"
  [width]="cardWidth"
  height="250"
>
  <!-- Product Image -->
  <Image
    [src]="product.image"
    stretch="aspectFill"
    height="70%"
    width="100%"
    borderRadius="12"
  ></Image>

  <!-- Rating & Favorite Button   -->

  <FlexboxLayout
    flexDirection="row"
    justifyContent="space-between"
    alignItems="flex-start"
    padding="10"
  >
    <FlexboxLayout
      justifyContent="center"
      alignItems="center"
      borderRadius="50%"
      backgroundColor="white"
      padding="5"
    >
      <Image
        src="https://img.icons8.com/?size=100&id=8ggStxqyboK5&format=png&color=000000"
        marginRight="5"
        width="12%"
        height="12%"
        stretch="aspectFill"
        class="rating-icon"
      ></Image>
      <Label
        [text]="product.rating"
        fontWeight="bold"
        fontSize="14"
        marginTop="1"
        color="#333"
      ></Label>
    </FlexboxLayout>

    <FlexboxLayout
      justifyContent="center"
      alignItems="center"
      borderRadius="50%"
      backgroundColor="white"
      padding="5"
    >
      <Image
        src="https://img.icons8.com/?size=100&id=85339&format=png&color=FF0000"
        width="12%"
        height="12%"
        class="icon"
      ></Image>
    </FlexboxLayout>
  </FlexboxLayout>

  <!-- Product Details -->
  <FlexboxLayout
    flexDirection="column"
    row="2"
    col="0"
    class="details"
    padding="14"
  >
    <FlexboxLayout
      flexDirection="row"
      justifyContent="space-between"
      alignItems="flex-start"
    >
      <Label
        [text]="product.name"
        fontSize="16"
        fontWeight="bold"
        color="black"
        flexGrow="1"
      ></Label>
      <FlexboxLayout flexDirection="column" width="20">
        <Image
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Veg_symbol.svg/2048px-Veg_symbol.svg.png"
          width="50%"
          height="50%"
        ></Image>
      </FlexboxLayout>
    </FlexboxLayout>
    <FlexboxLayout
      flexDirection="row"
      justifyContent="flex-start"
      alignItems="flex-start"
    >
      <Label
        [text]="'$' + product.discountedPrice"
        fontSize="18"
        fontWeight="bold"
        color="black"
      ></Label>
      <Label
        [text]="'$' + product.originalPrice"
        fontSize="16"
        textDecoration="line-through"
        color="gray"
        marginLeft="8"
        marginTop="1"
      ></Label>
    </FlexboxLayout>
  </FlexboxLayout>
</GridLayout>
