.location-label {
    color: white;
    font-size: 16;
    font-weight: bold;
}

.notification-dot {
    position: absolute;
    top: 5;
    right: 5;
    border-radius: 50%;
    background-color: red;
    width: 10;
    height: 10;
}

.search-bar {
    margin-top: 15;
    background-color: white;
    border-radius: 5;
    padding: 5;
    width: 100%;
    height: 40;
    flex-direction: row;
    align-items: center;
}

.search-field {
    flex-grow: 1;
    margin-left: 10;
    font-size: 14;
    padding: 20px;
}



// .search-container {
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     margin: 10;
// }

// .search-box {
//     flex-direction: row;
//     align-items: center;
//     background-color: #f8f8f8;
//     border-radius: 10;
//     padding: 10;
//     width: 80%;
// }

// .search-icon {
//     font-family: "FontAwesome5Free-Solid";
//     font-size: 18;
//     margin-right: 10;
//     color: #9c5c2b;
// }

// .search-input {
//     flex-grow: 1;
//     font-size: 16;
// }

// .filter-button {
//     background-color: #9c5c2b;
//     border-radius: 10;
//     width: 50;
//     height: 50;
//     align-items: center;
//     justify-content: center;
// }

// .filter-icon {
//     font-family: "FontAwesome5Free-Solid";
//     font-size: 20;
//     color: white;
// }




