 

.notification-dot {
    position: absolute;
    top: 5;
    right: 5;
    border-radius: 50%;
    background-color: red;
    width: 10;
    height: 10;
}

.notification-container {
    position: relative;
  
}


.notification-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
 
    width: 5;
    height: 5;
    border-radius: 50%;
   
}

 



// .search-container {
//     flex-direction: row;
//     align-items: center;
//     justify-content: space-between;
//     margin: 10;
// }

// .search-box {
//     flex-direction: row;
//     align-items: center;
//     background-color: #f8f8f8;
//     border-radius: 10;
//     padding: 10;
//     width: 80%;
// }

// .search-icon {
//     font-family: "FontAwesome5Free-Solid";
//     font-size: 18;
//     margin-right: 10;
//     color: #9c5c2b;
// }

// .search-input {
//     flex-grow: 1;
//     font-size: 16;
// }

// .filter-button {
//     background-color: #9c5c2b;
//     border-radius: 10;
//     width: 50;
//     height: 50;
//     align-items: center;
//     justify-content: center;
// }

// .filter-icon {
//     font-family: "FontAwesome5Free-Solid";
//     font-size: 20;
//     color: white;
// }



// .search-container {
//     padding: 10;
//     background-color: #7b3f00; /* Brown background */
//     align-items: center;
//   }
  
//   .search-box {
//     flex: 1;
//     background-color: #f7f7f7; /* Light background */
//     border-radius: 10;
//     padding: 10;
//     flex-direction: row;
//     align-items: center;
//   }
  
//   .search-icon {
//     width: 20;
//     height: 20;
//     margin-right: 8;
//   }
  
//   .search-input {
//     font-size: 16;
//     flex: 1;
//   }
  
//   .filter-button {
//     background-color: #ffffff;
//     border-radius: 10;
//     width: 50;
//     height: 50;
//     margin-left: 10;
//     justify-content: center;
//     align-items: center;
//   }
  
//   .filter-icon {
//     width: 20;
//     height: 20;
//   }
  






