<FlexboxLayout
  flexDirection="row"
  flexWrap="wrap"
  justifyContent="space-between"
  paddingTop="20"
>
  @for( category of categories; track category.labelText ){
  <FlexboxLayout
    flexDirection="column"
    flexWrap="nowrap"
    alignItems="center"
    width="80"
    paddingBottom="10"
    >
    <Image
      [src]="category.categroyImageURL"
      width="50"
      height="50"
      borderRadius="50%"
      backgroundColor="#F5F1EB"
    />
    <Label
      [text]="category.labelText"
      fontSize="14"
      fontWeight="bold"
      color="#654321"
      marginTop="5"
    ></Label>
  </FlexboxLayout>

  }
</FlexboxLayout>
